<section class="advantages">
    <div class="advantages__content">
        <h2 class="advantages__heading">
            Наши преимущества
        </h2>
        <ul class="advantages__list">
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <div class="advantages__card-icon-wrapper">
                        <img src="/images/advantages/1.svg" alt="" class="advantages__card-icon">
                    </div>
                    <h3 class="advantages__card-title">
                        Выгодно
                    </h3>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <div class="advantages__card-icon-wrapper">
                        <img src="/images/advantages/2.svg" alt="" class="advantages__card-icon">
                    </div>
                    <h3 class="advantages__card-title">
                        Надежно
                    </h3>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <div class="advantages__card-icon-wrapper">
                        <img src="/images/advantages/3.svg" alt="" class="advantages__card-icon">
                    </div>
                    <h3 class="advantages__card-title">
                        Быстро
                    </h3>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <div class="advantages__card-icon-wrapper">
                        <img src="/images/advantages/4.svg" alt="" class="advantages__card-icon">
                    </div>
                    <h3 class="advantages__card-title">
                        Бесплатная отмена брони
                    </h3>
                </div>
            </li>
            <li class="advantages__list-item">
                <div class="advantages__card">
                    <div class="advantages__card-icon-wrapper">
                        <img src="/images/advantages/5.svg" alt="" class="advantages__card-icon">
                    </div>
                    <h3 class="advantages__card-title">
                        Бронирование в любом отделении банка
                    </h3>
                </div>
            </li>
        </ul>
    </div>
</section>