<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top">
            <div class="page-footer__nav">
                <div class="page-footer__nav-col">
                    <ul class="page-footer__nav-list">
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Новости
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Частным лицам
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Бизнесу
                            </a>
                        </li>
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                Офисы и банкоматы
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="page-footer__nav-col">
                    <ul class="page-footer__nav-list">
                        <li class="page-footer__nav-list-item">
                            <a href="#" class="page-footer__nav-link">
                                О банке
                            </a>
                            <ul class="page-footer__nav-submenu-list">
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        Раскрытие информации
                                    </a>
                                </li>
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        Контакты и реквизиты
                                    </a>
                                </li>
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        Лицензии
                                    </a>
                                </li>
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        Рейтинг
                                    </a>
                                </li>
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        Работа в банке
                                    </a>
                                </li>
                                <li class="page-footer__nav-submenu-list-item">
                                    <a href="#" class="page-footer__nav-submenu-link">
                                        Акционерам
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="page-footer__currency">
                <ul class="page-footer__currency-list">
                    <li class="page-footer__currency-list-item">
                        <div class="page-footer__currency-card">
                            <h3 class="page-footer__currency-card-title">
                                Доллар (USD)
                            </h3>
                            <div class="page-footer__currency-card-content">
                                <div class="page-footer__currency-card-item">
                                    <div class="page-footer__currency-card-item-top">
                                        89,70
                                        <div class="page-footer__currency-card-arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="page-footer__currency-card-item-action">
                                        Купить
                                    </div>
                                </div>
                                <div class="page-footer__currency-card-item">
                                    <div class="page-footer__currency-card-item-top">
                                        87,70
                                        <div class="page-footer__currency-card-arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="page-footer__currency-card-item-action">
                                        Продать
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-footer__currency-list-item">
                        <div class="page-footer__currency-card">
                            <h3 class="page-footer__currency-card-title">
                                Евро (EUR)
                            </h3>
                            <div class="page-footer__currency-card-content">
                                <div class="page-footer__currency-card-item">
                                    <div class="page-footer__currency-card-item-top">
                                        100,70
                                        <div
                                            class="page-footer__currency-card-arrow page-footer__currency-card-arrow--green">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-up"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="page-footer__currency-card-item-action">
                                        Купить
                                    </div>
                                </div>
                                <div class="page-footer__currency-card-item">
                                    <div class="page-footer__currency-card-item-top">
                                        95,40
                                        <div
                                            class="page-footer__currency-card-arrow page-footer__currency-card-arrow--green">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-up"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="page-footer__currency-card-item-action">
                                        Продать
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-footer__currency-list-item">
                        <div class="page-footer__currency-card">
                            <h3 class="page-footer__currency-card-title">
                                Фунт стерлингов (GBP)
                            </h3>
                            <div class="page-footer__currency-card-content">
                                <div class="page-footer__currency-card-item">
                                    <div class="page-footer__currency-card-item-top">
                                        120,70
                                        <div
                                            class="page-footer__currency-card-arrow page-footer__currency-card-arrow--green">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-up"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="page-footer__currency-card-item-action">
                                        Купить
                                    </div>
                                </div>
                                <div class="page-footer__currency-card-item">
                                    <div class="page-footer__currency-card-item-top">
                                        110,40
                                        <div class="page-footer__currency-card-arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#arrow-down"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="page-footer__currency-card-item-action">
                                        Продать
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page-footer__middle">
            <ul class="page-footer__contacts-list">
                <li class="page-footer__contacts-list-item">
                    <div class="page-footer__contacts-card">
                        <a href="tel:+78001002542" class="page-footer__contacts-card-link">
                            8 800 100 2542
                        </a>
                        <div class="page-footer__contacts-card-text">
                            звонок по России бесплатный
                        </div>
                    </div>
                </li>
                <li class="page-footer__contacts-list-item">
                    <div class="page-footer__contacts-card">
                        <a href="tel:+78552773388" class="page-footer__contacts-card-link">
                            +7 (8552) 77-33-88
                        </a>
                        <div class="page-footer__contacts-card-text">
                            для звонков из других стран
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="page-footer__social-list">
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="page-footer__bottom">
            <div class="page-footer__bottom-col">
                <p>
                    Информация о процентных ставках по договорам банковского вклада с физическими лицами
                </p>
                <p>
                    Безопасность
                </p>
                <p>
                    Меры защиты финансового рынка
                </p>
            </div>
            <div class="page-footer__bottom-col">
                <p>
                    Список лиц, под контролем либо значительным влиянием которых находится кредитная организация
                </p>
                <p>
                    Раскрытие информации на сайте ООО «Интерфакс-ЦРКИ».
                </p>
                <p>
                    © 2025 ПАО «АКИБАНК» Лицензия ЦБ РФ № 2587
                </p>
            </div>
            <div class="page-footer__bottom-col">
                <p>
                    Ответы на вопросы граждан и бизнеса о работе финансовой системы в России в условиях санкционных
                    ограничений
                </p>
                <p>
                    Информация профучастника
                </p>

            </div>
        </div>
    </div>
</footer>