<section class="how-to">
    <div class="how-to__content">
        <h2 class="how-to__heading">
            Как обменять валюту
        </h2>
        <ol class="how-to__list">
            <li class="how-to__list-item">
                <div class="how-to__card">
                    <div class="how-to__card-number">

                    </div>
                    <h3 class="how-to__card-title">
                        Оставьте заявку
                    </h3>
                </div>
            </li>
            <li class="how-to__list-item">
                <div class="how-to__card">
                    <div class="how-to__card-number">

                    </div>
                    <h3 class="how-to__card-title">
                        Ожидание звонка сотрудника банка
                    </h3>
                </div>
            </li>
            <li class="how-to__list-item">
                <div class="how-to__card">
                    <div class="how-to__card-number">

                    </div>
                    <h3 class="how-to__card-title">
                        Подойдите в офис для обмена валюты
                    </h3>
                </div>
            </li>
        </ol>
    </div>
</section>