<div class="code-modal js-modal" id="code-modal">
    <div class="code-modal__inner">
        <button class="code-modal__close js-modal-close" type="button">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <img src="/images/logo.svg" alt="" class="code-modal__logo">
        <img src="/images/code-modal.webp" alt="" class="code-modal__image">
        <h3 class="code-modal__title">
            Введите СМС-код
        </h3>
        <div class="code-modal__text">
            Код отправлен на номер +7 999 999-99-99
        </div>
        <form action="/" class="code-modal__form">
            <div class="code-modal__inputs">
                <div class="code-modal__inputs-wrapper">
                    <input type="text" inputmode="numeric" name="code[]" class="code-modal__input">
                    <input type="text" inputmode="numeric" name="code[]" class="code-modal__input">
                    <input type="text" inputmode="numeric" name="code[]" class="code-modal__input">
                    <input type="text" inputmode="numeric" name="code[]" class="code-modal__input">
                </div>
            </div>
            <div class="code-modal__status">

            </div>
            <div class="code-modal__new-code">
                Получить новый код можно через 01:57
            </div>
            <button class="code-modal__submit">
                Отправить заявку
            </button>
        </form>
    </div>
</div>

<div class="city-modal js-modal" id="city-modal">
    <div class="city-modal__content">
        <button class="city-modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <h3 class="city-modal__title">
            Выберите город
        </h3>
        <ul class="city-modal__list">
            <li class="city-modal__list-item">
                <a href="#" class="city-modal__link active">
                    Москва
                </a>
            </li>
            <li class="city-modal__list-item">
                <a href="#" class="city-modal__link">
                    Санкт-Петербург
                </a>
            </li>
            <li class="city-modal__list-item">
                <a href="#" class="city-modal__link">
                    Казань
                </a>
            </li>
            <li class="city-modal__list-item">
                <a href="#" class="city-modal__link">
                    Набережные Челны
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="success-modal js-modal" id="success-modal">
    <div class="success-modal__content">
        <button class="success-modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="success-modal__message">
            <div class="success-modal__icon">


                <img src="/images/ok.svg" alt="" class="success-modal__icon-image">
            </div>
            Ваша заявка принята. Ожидайте звонка специалиста банка
        </div>
    </div>
</div>