<section class="rates">
    <div class="rates__content">
        <ul class="rates__list">
            <li class="rates__list-item">
                <div class="rates__card">
                    <h3 class="rates__card-title">
                        Доллар (USD)
                    </h3>
                    <div class="rates__card-items">
                        <div class="rates__card-item">
                            <div class="rates__card-item-top">
                                <div class="rates__card-item-amount">
                                    89,70
                                </div>
                                <div class="rates__card-item-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="rates__card-item-bottom">
                                Купить
                            </div>
                        </div>
                        <div class="rates__card-item">
                            <div class="rates__card-item-top">
                                <div class="rates__card-item-amount">
                                    87,70
                                </div>
                                <div class="rates__card-item-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="rates__card-item-bottom">
                                Продать
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="rates__list-item">
                <div class="rates__card">
                    <h3 class="rates__card-title">
                        Евро (EUR)
                    </h3>
                    <div class="rates__card-items">
                        <div class="rates__card-item">
                            <div class="rates__card-item-top">
                                <div class="rates__card-item-amount">
                                    100,70
                                </div>
                                <div class="rates__card-item-arrow rates__card-item-arrow--green">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-up"></use>
                                    </svg>
                                </div>

                            </div>
                            <div class="rates__card-item-bottom">
                                Купить
                            </div>
                        </div>
                        <div class="rates__card-item">
                            <div class="rates__card-item-top">
                                <div class="rates__card-item-amount">
                                    87,70
                                </div>
                                <div class="rates__card-item-arrow rates__card-item-arrow--green">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-up"></use>
                                    </svg>
                                </div>

                            </div>
                            <div class="rates__card-item-bottom">
                                Продать
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="rates__list-item">
                <div class="rates__card">
                    <h3 class="rates__card-title">
                        Фунт стерлингов (GBP)
                    </h3>
                    <div class="rates__card-items">
                        <div class="rates__card-item">
                            <div class="rates__card-item-top">
                                <div class="rates__card-item-amount">
                                    120,70
                                </div>
                                <div class="rates__card-item-arrow rates__card-item-arrow--green">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-up"></use>
                                    </svg>
                                </div>

                            </div>
                            <div class="rates__card-item-bottom">
                                Купить
                            </div>
                        </div>
                        <div class="rates__card-item">
                            <div class="rates__card-item-top">
                                <div class="rates__card-item-amount">
                                    110,40
                                </div>
                                <div class="rates__card-item-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#arrow-down"></use>
                                    </svg>
                                </div>

                            </div>
                            <div class="rates__card-item-bottom">
                                Продать
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>